Repository AmaliTech-Training-Academy/gep-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zena4L, @Moadams, @myspace20, @XzibiT-Collins, @mangucletus, @kistlerk19, @jsabrokwah

feat: add custom api response
  services/event-service/src/main/java/com/event_service/event_service/dto/CustomApiResponse.java
  services/event-service/src/main/java/com/event_service/event_service/utilities/SecurityUtils.java
Owners: @Moadams, @myspace20, @XzibiT-Collins, @zena4L

feat: handle email message delivery from sqs queue
  services/event-service/pom.xml
  services/event-service/src/main/java/com/event_service/event_service/configurations/AWSConfiguration.java
  services/event-service/src/main/java/com/event_service/event_service/configurations/SecurityConfig.java
  services/event-service/src/main/java/com/event_service/event_service/filters/JWTFilter.java
  services/event-service/src/main/java/com/event_service/event_service/utilities/JWTUtil.java
  services/event-service/src/main/resources/application-dev.properties
  services/notification-service/.env.example
  services/notification-service/src/main/java/com/moadams/notificationservice/event/EventInvitationEvent.java
  services/notification-service/src/main/java/com/moadams/notificationservice/service/impl/EmailService.java
  services/notification-service/src/main/resources/application-local.properties
  services/notification-service/src/main/resources/application.properties
  services/notification-service/src/main/resources/templates/event-invitation.html
Owners: @Moadams, @myspace20, @XzibiT-Collins, @zena4L, @mangucletus, @kistlerk19, @jsabrokwah

feat: add fullname to token claims
  services/auth-service/src/main/java/com/example/auth_service/security/JwtUtil.java
Owners: @Moadams, @myspace20, @XzibiT-Collins, @zena4L

feat: implement unit tests for event invitation
  services/event-service/src/test/java/com/event_service/event_service/EventInvitationServiceImplTest.java
Owners: @Moadams, @myspace20, @XzibiT-Collins, @zena4L

refactor: change service port to match deployed ports
  services/event-service/src/main/resources/application-dev.properties
  services/notification-service/src/main/resources/application.properties
Owners: @mangucletus, @kistlerk19, @jsabrokwah

.github/CODEOWNERS:

# Global ownership - requires approval from reviewer
* @zena4L

# Service-specific ownership
/services/auth-service/ @Moadams @myspace20 @XzibiT-Collins @zena4L
/services/user-service/ @Moadams @myspace20 @XzibiT-Collins @zena4L
/services/event-service/ @Moadams @myspace20 @XzibiT-Collins @zena4L
/services/notification-service/ @Moadams @myspace20 @XzibiT-Collins @zena4L
/services/api-gateway/ @Moadams @myspace20 @XzibiT-Collins @zena4L

# Infrastructure and configuration
/services/config-server/ @Moadams @myspace20 @XzibiT-Collins @zena4L
/services/discovery-server/ @Moadams @myspace20 @XzibiT-Collins @zena4L
/services/docker-compose.yml @mangucletus @kistlerk19 @jsabrokwah

# Shared libraries
/shared/ @Moadams @myspace20 @XzibiT-Collins @zena4L

# Documentation and architecture
/docs/ @zena4L
/README.md @zena4L
/DEVELOPMENT_GUIDELINES.md @zena4L

# CI/CD and deployment
/.github/ @mangucletus @kistlerk19 @jsabrokwah
/scripts/ @mangucletus @kistlerk19 @jsabrokwah

# Configuration files
*.yml @mangucletus @kistlerk19 @jsabrokwah
*.yaml @mangucletus @kistlerk19 @jsabrokwah
*.properties @mangucletus @kistlerk19 @jsabrokwah
Dockerfile @mangucletus @kistlerk19 @jsabrokwah
